.container {
    margin-top: 6vh;
  }
  
  li {
    list-style: none;
  }
  
  .card-title {
    font-size: 20px;
    text-align: left;
  }
  
  .card-text {
    font-size: 16px;
    padding: 0;
    margin-bottom: 12px !important;
    text-align: left;
  }